header {
    


    .preloader-area {
        position: fixed;
        top: 0;
        background-color: #ff612f;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        text-align: center;
        display: none;

        .spinner {
            width: 4em;
            height: 4em;
            transform-style: preserve-3d;
            position: absolute;
            left: 0;
            right: 0;
            top: 45%;
            transform: translateY(-45%);
            margin-left: auto;
            margin-right: auto;

            .inner {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                animation: sphereSpin 6s linear infinite;

                .disc {}
            }
        }
    }

    #navbar_top{
        background-color: rgb(230, 224, 224);
        z-index: 2;
        transition: all 0.3s;
       
        .logo{
            img{

            }
        }
        .nav_list{
            margin-left: 70px;
            margin-top: 10px;
            
            ul{
                list-style-type: none;
                display: flex;
                
                li{
                    margin-right: 15px;
                    
                    a{
                        text-decoration: none;
                        color: #4a6f8a;
                        font-size: 15px;
                        transition: all 0.3s;
                        i{
                            font-size: 10px;

                        }
                    }
                    a:hover{
                        color: #20c997;
                    }
                }
            }
        }
        #main_nav{
            .btns{
                .btn-hot{
                    margin-right: 10px;
                   .hot{
                    color: #fff;
                    background-color: #13c4a1;
                    border-radius: 5px;
                    padding: 13px 25px;
                    font-size: 15px;
                   }

                }
                .btn-login{
                    .login{
                        color: white;
                        font-weight: 600;
                        border: 1px solid white;
                        padding: 10px 22px;
                        font-size: 15px;
                        i{
                            font-size: 16px;
                        }

                    }

                }
            }
        }
    }
    .main-banner {
        position: relative;
        z-index: 1;

        .main-banner-content {
            .d-table {
                .d-table-cell {
                    .content {
                        max-width: 675px;
                        padding-left: 150px;
                        margin-left: auto;
                        margin-top: 30px;

                        h1 {
                            font-size: 50px;
                            font-weight: 600;
                            line-height: 1.2;
                        }

                        p {
                            margin-top: 20px;
                            max-width: 540px;
                            color: #4a6f8a;
                            margin-bottom: 12px;
                            line-height: 1.8;
                            font-size: 15px;
                            font-family: poppins, sans-serif;
                        }

                        .btn-hot2 {
                            margin-top: 20px;
                            background-color: #080a3c;
                            border: none;
                            position: relative;
                            display: inline-block;
                            text-align: center;
                            overflow: hidden;
                            z-index: 1;
                            color: #fff;
                            transition: .5s;
                            border-radius: 5px;
                            font-weight: 500;
                            font-size: 15px;
                            padding-left: 50px;
                            padding-right: 25px;
                            padding-top: 13px;
                            padding-bottom: 13px;
                            text-decoration: none;
                            outline: 0 !important;
                        }
                    }
                }
            }


        }


        .banner-image {
            background-image: url(../img/home/banner-img2.jpg);
            height: 100vh;
            border-radius: 0 0 0 80px;
            position: relative;
            z-index: 1;
            background-color: #ff612f;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -66px;

            .d-table {
                width: 100%;
                height: 100%;
                display: table;

                .d-table-cell {
                    vertical-align: middle;
                    display: table-cell !important;

                    .animate-banner-image {
                        padding: 15px;
                        margin-top: 92px;
                        position: relative;

                        img {
                            display: block !important;
                            animation: border-transform 10s linear infinite alternate forwards;
                            margin: auto;
                            max-width: 100%;
                            height: auto;

                        }

                        @keyframes border-transform {

                            0%,
                            100% {
                                border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
                            }

                            14% {
                                border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
                            }

                            28% {
                                border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
                            }

                            42% {
                                border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
                            }

                            56% {
                                border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
                            }

                            70% {
                                border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
                            }

                            84% {
                                border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
                            }
                        }

                    }
                }
            }


        }

        .figure1 {
            position: absolute;
            right: 55%;
            bottom: 22%;
            z-index: -1;

            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
                animation-name: moveLeftBounce;
                animation: moveLeftBounce 3s linear infinite;
            }

            @keyframes moveLeftBounce {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(5px);
                }

                100% {
                    transform: translateX(0);
                }
            }
        }

        .figure2 {
            position: absolute;
            right: 35%;
            z-index: -1;

            img {
                animation: moveLeftBounce 3s linear infinite;
                animation-duration: 3s;

            }
        }

        .figure3 {
            position: absolute;
            left: 5%;
            top: 15%;
            z-index: -1;

            img {
                animation: animationFramesOne 20s infinite linear;
            }

            @keyframes animationFramesOne {

                0% {
                    transform: translate(0px, 0px) rotate(0deg);
                }

                20% {
                    transform: translate(73px, -1px) rotate(36deg);
                }

                40% {
                    transform: translate(141px, 72px) rotate(72deg);
                }

                60% {
                    transform: translate(83px, 122px) rotate(108deg);
                }

                80% {
                    transform: translate(-40px, 72px) rotate(144deg);
                }

                100% {
                    transform: translate(0px, 0px) rotate(0deg);
                }

            }
        }

        .figure4 {
            position: absolute;
            left: 25%;
            top: 40%;
            z-index: -1;

            img {
                animation: animationFramesOne 20s infinite linear;
            }
        }


    }



}

// -------------------------------Main area-----------------------------------
main {
    #features-card {
        padding-top: 70px;
        padding-bottom: 100px;
        background-color: #f8fbfa;

        .single-feautures-card {
            background-color: #fff;
            box-shadow: 0 1px 10px 0 rgb(0, 0, 0 / 0, 3%);
            border-radius: 35px;
            padding: 30px;
            transition: .5s;
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            transition-delay: 0s;
            position: relative;
            margin-bottom: 30px;
            text-align: center;


            i {
                font-size: 30px;
                color: #13c4a1;
                width: 70px;
                height: 70px;
                line-height: 70px;
                margin: auto;
                position: relative;
                margin-bottom: 20px;
                background: #f6f4fd;
                border-radius: 100%;
                text-align: center;
                display: inline-block;
            }

            h3 {
                margin-bottom: 10px;
                font-size: 22px;
                font-weight: 600;
                line-height: 1.2;
                text-align: center;

                a {
                    color: #080a3c;
                    text-decoration: none;
                    transition: .5s;

                }
            }

            p {
                color: #4a6f8a;
                font-size: 15px;
                line-height: 1.8;
                font-family: poppins, sans-serif;
                text-align: center;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }


        }
    }

    .services-area::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 45%;
        height: 215%;
        z-index: -1;
        background-color: #fbfbfb;
        transform: skewY(-66deg);
    }

    .services-area {
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 100px;

        .align-items-center {
            align-items: center !important;

            .services-image {
                visibility: visible;
                animation-delay: 0.3s;
                animation-name: fadeInRight;
                -webkit-box-flex: 0;
                flex: 0 0 50%;
                max-width: 50%;
                padding-left: 15px;
                padding-right: 15px;


                .image {
                    text-align: center;

                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;

                    }
                }

            }

        }

        .services-content {
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 15px;
            padding-right: 15px;

            .left-content {
                padding-right: 30px;
                padding-left: 0;
                margin-left: auto;
                max-width: 615px;

                .icon {
                    margin-bottom: 20px;

                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }

                h2 {
                    font-size: 40px;
                    font-weight: 500;
                    margin-top: 0;
                    line-height: 1.2;
                    margin-bottom: 8px;
                }

                p {
                    max-width: 540px;
                    margin-bottom: 30px;
                    margin-top: 18px;
                    color: #4a6f8a;
                }

                .feature-box {
                    color: #4a6f8a;
                    background-color: #fff;
                    border: 1px solid #f2effc;
                    box-shadow: 0 2px 4px 0 rgb(12 0 46 / 4%);
                    border-radius: 30px;
                    font-size: 15px;
                    padding: 12px 22px;
                    margin-bottom: 25px;
                    cursor: pointer;
                    transition: .5s;


                    i {
                        margin-right: 3px;
                        color: #13c4a1;
                    }

                    span {
                        color: #4a6f8a;
                        font-weight: 550;
                    }
                }

                .default-btn {
                    margin-top: 15px;
                    background-color: #080a3c;
                    position: relative;
                    display: inline-block;
                    text-align: center;
                    overflow: hidden;
                    z-index: 1;
                    color: #fff;
                    transition: .5s;
                    border-radius: 5px;
                    font-weight: 550;
                    font-size: 15px;
                    padding-left: 30px;
                    padding-right: 25px;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    text-decoration: none;

                    i {
                        color: #ff612f;
                    }


                }
            }
        }



    }

    .second::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 45%;
        height: 215%;
        z-index: -1;
        background-color: #13c4a1;
        transform: skewY(66deg);
    }

    .second {
        background-color: #f4f6fc;
        ;
    }

    .video-presentation-area {
        position: relative;
        z-index: 1;
        padding-top: 100px;
        padding-bottom: 100px;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;



            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
            }
        }

        .video-box {
            position: relative;
            text-align: center;
            max-width: 750px;
            border-radius: 5px;
            z-index: 1;
            margin-left: auto;
            margin-right: auto;


            img {
                border-radius: 5px;
                max-width: 100%;
                vertical-align: middle;
            }

            a::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                bottom: 0;
                left: 0;
                border-radius: 5px;
                border: 1px solid #ff612f;
                transition: .5s;
                animation: ripple 2s linear infinite;

            }

            a::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                bottom: 0;
                left: 0;
                border-radius: 5px;
                border: 1px solid #ff612f;
                transition: .5s;
                animation: ripple 2s linear infinite;
            }

            @keyframes ripple {
                0% {
                    transform: rotate(10px);
                }

                30% {
                    transform: rotate(20px);
                }
            }


            a {
                position: absolute;
                left: 0;
                right: 0;
                display: inline-block;
                top: 50%;
                transform: translateY(-50%);
                width: 80px;
                height: 80px;
                background-color: #ff612f;
                border-radius: 5px;
                color: #fff;

                z-index: 1;
                margin-left: auto;
                margin-right: auto;
                transition: .5s;



                i {

                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    z-index: 1;
                    transform: translateY(-50%);
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 30px;
                }




            }

            .figure1 {
                position: absolute;
                left: -30px;
                top: -23px;
                z-index: -1;

                img {
                    animation-name: rotateMe;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    max-width: 100%;
                    height: auto;
                }

                @keyframes rotateMe {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }

            }

            .figure2 {
                position: absolute;
                right: -30px;
                top: -30px;
                z-index: -1;

                img {
                    max-width: 100%;
                    height: auto;
                    animation: moveScale 3s linear infinite;

                }

                @keyframes moveScale {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(.8);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }

            .figure3 {
                position: absolute;
                left: -50px;
                bottom: -50px;
                z-index: -1;

                img {
                    max-width: 100%;
                    height: auto;
                    animation: moveScale 3s linear infinite;

                }
            }

            .figure4 {
                position: absolute;
                right: -30px;
                bottom: -30px;
                z-index: -1;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .figure5 {
                position: absolute;
                right: -60px;
                bottom: -60px;
                z-index: -2;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .figure6 {
                position: absolute;
                left: -26px;
                top: -22px;
                z-index: -1;

                img {
                    animation: moveLeftBounce 5s linear infinite;
                }
            }
        }

        .count-inner {
            max-width: 1000px;
            margin-top: 140px;
            margin-left: auto;
            margin-right: auto;

            .single-count {
                background-color: #fff;
                border: 1px solid #f1f1f1;
                padding: 25px 0;
                border-radius: 5px;
                text-align: center;
                margin-bottom: 30px;

                .general-icon {
                    font-size: 30px;
                    color: #13c4a1;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    margin: auto;
                    position: relative;
                    margin-bottom: 20px;
                    background: #f6f4fd;
                    border-radius: 100%;
                    text-align: center;
                    display: inline-block;

                }

                h3 {
                    color: #ff612f;
                    margin-bottom: 0;
                    font-size: 30px;
                    font-weight: 600;
                }

                p {
                    color: #4a6f8a;
                    font-size: 15px;
                }

            }
        }

        .contact-box {
            border-radius: 5px;
            border: 1px solid #ebebeb;
            padding: 30px 230px 30px 50px;
            position: relative;
            margin-left: auto;
            margin-top: 40px;
            margin-right: auto;

            h3 {
                margin-bottom: 0;
                font-size: 22px;
                font-weight: 500;
                line-height: 1.2;
                margin-top: 0;
            }

            p {
                line-height: initial;
                margin-top: 6px;
                margin-bottom: 0;
                color: #4a6f8a;
                font-size: 15px;
            }

            .default-btn {
                background-color: #13c4a1;
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                text-decoration: none;
                transition: .5s;
                border-radius: 5px;
                font-weight: 550;
                font-size: 15px;
                padding-left: 50px;
                padding-right: 25px;
                padding-top: 13px;
                padding-bottom: 13px;
                z-index: 1;

                .edit {
                    font-size: 20px;
                }
            }
        }

        .map1 {
            position: absolute;
            left: 0;
            right: 0;
            top: 90%;
            transform: translateY(-90%);
            z-index: -1;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .figure-ladder {
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            left: 10%;
            z-index: -1;

            img {
                max-width: 100%;
                height: auto;
                animation: moveBounce 5s linear infinite;
            }

            @keyframes moveBounce {
                0% {
                    transform: translateY(0px);
                }

                50% {
                    transform: translate(20px);
                }

                100% {
                    transform: translate(0px);
                }
            }
        }

        .figure-plus {
            position: absolute;
            left: 12%;
            top: 60%;
            z-index: -1;
            transform: translateY(-60%);

            img {
                max-width: 100%;
                height: auto;
                animation-name: rotateMe;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

            }

            @keyframes rotateMe {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .figure-bigplus {
            position: absolute;
            right: 10%;
            top: 40%;
            z-index: -1;
            transform: translateY(-40%);

            img {
                max-width: 100%;
                height: auto;
                animation-name: rotateMe;
                animation-duration: 10s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

            }
        }
    }

    .amazing-futures {
        overflow: hidden;
        padding-bottom: 70px;
        padding-top: 100px;
        background-color: #f4f6fc;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;

            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
            }
        }

        .box {
            visibility: visible;
            animation-delay: 0.1s;
            animation-name: fadeInLeft;
            margin-bottom: 30px;
            background: #fff;
            padding: 30px 40px;
            text-align: center;
            border-radius: 10px;
            transition: .5s;

            i {
                width: 70px;
                height: 70px;
                line-height: 70px;
                font-size: 30px;
                text-align: center;
                border-radius: 100%;
                color: #fff;
                margin-bottom: 25px;
                background-color: #13c4a1;

            }

            .solutions {
                background-color: #6610f2;

            }

            .dashboard {
                background-color: #ffb700;
            }

            .ring {
                background-color: #fc3549;
            }

            .info {
                background-color: #00d280;
            }

            .cog {
                background-color: #ff612f;
            }

            h3 {
                margin-bottom: 10px;
                font-size: 22px;
                font-weight: 550;
                line-height: 1.2;
                margin-top: 0;
            }

            p {
                margin: 0;
                color: #4a6f8a;
                line-height: 1.8;
                font-size: 15px;
            }
        }
    }

    .clients-said {
        overflow: hidden;
        padding-bottom: 70px;
        padding-top: 100px;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;

            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.2;
                margin-bottom: 0;

                span {
                    display: inline-block;
                    color: #ff612f;
                }
            }
        }

        .owl-carousel {

            z-index: 1;
            position: relative;
            


            .item {

                width: 543px;
                margin-right: 30px;
                position: relative;


                img {
                    height: auto;
                    max-width: 100%;
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    display: inline-block !important;
                    width: auto !important;

                }

                .desk {
                    position: relative;
                    z-index: -1;
                    margin-top: -290px;
                    overflow: hidden;
                    margin-left: 45px;
                    background-color: white;
                    padding: 30px 55px 30px 160px;
                    box-shadow: 10px 35px 5px rgb(137, 173, 255 / 0, 15%);

                    p {
                        color: #4a6f8a;
                    }

                    .rating {
                        margin-top: 13px;
                        margin-bottom: 15px;

                        i {
                            color: #ff612f;
                        }
                    }

                    .client-info {
                        h3 {
                            margin-bottom: 0;
                            font-size: 18px;
                            font-weight: 550;
                        }

                        span {
                            color: #13c4a1;
                            font-size: 14px;
                            margin-top: 6 px;
                        }
                    }
                }


            }
        }
    }

    .pricing-plan {
        padding-top: 100px;
        padding-bottom: 70px;
        background-color: #f4f5fe;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;

            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.2;
            }
        }

        .pricing-list-btn {
            text-align: center;
            margin-bottom: 40px;

            .monthly {
                text-decoration: none;
                background-color: #080a3c;
                padding: 12px 30px;
                color: white;
                border-bottom-left-radius: 30px;
                border-top-left-radius: 30px;

                i {
                    color: #ff612f;

                }
            }

            .yearly {
                text-decoration: none;
                padding: 12px 30px;
                color: #8d8fb4;
                background-color: white;
                border-bottom-right-radius: 30px;
                border-top-right-radius: 30px;

                i {
                    color: #ff612f;
                }
            }



        }

        .content_pricing {
            .single-pricing:hover {
                margin-top: -10px;
            }

            .single-pricing {
                background-color: white;
                padding-bottom: 30px;
                border-radius: 5px;
                text-align: left;
                transition: .5s;


                .header {
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 25px;
                    padding-bottom: 20px;

                    h3 {
                        margin-bottom: 0;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                }

                .price {
                    sup {
                        top: -18px;
                        font-size: 18px;
                        font-weight: 500;


                    }

                    sub {
                        bottom: 2px;
                        color: #4a6f8a;
                        padding-right: 5px;
                        font-size: 14px;
                        font-weight: 500;

                    }

                    padding-left: 40px;
                    padding-right: 40px;
                    transition: .5s;
                    padding-top: 8px;
                    padding-bottom: 5px;
                    border-top: 2px dashed #f4f5fe;
                    border-bottom: 2px dashed #f4f5fe;
                    font-weight: 600;
                    font-size: 40px;
                }

                ul {

                    margin-right: 40px;

                    li {
                        list-style-type: none;
                        margin-bottom: 10px;
                        position: relative;
                        color: #444683;
                        padding-left: 10px;

                        i {
                            color: #13c4a1;
                            margin-right: 8px;
                            font-size: 13px;
                        }

                        span {
                            i {
                                color: #b7bad2;
                                font-size: 15px;
                            }

                        }
                    }

                }

                .btn-box {
                    padding-left: 40px;
                    margin-top: 30px;

                    .btn-1 {
                        text-decoration: none;
                        background-color: #080a3c;
                        color: white;
                        padding-left: 30px;
                        padding-right: 25px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        border-radius: 5px;


                        i {
                            color: #ff612f;
                        }


                    }

                    .btn-2 {
                        text-decoration: none;
                        background-color: #ff612f;
                        color: white;
                        padding-left: 30px;
                        padding-right: 25px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        border-radius: 5px;

                        i {
                            color: #080a3c;
                        }

                    }

                    .btn-3 {
                        text-decoration: none;
                        background-color: #13c4a1;
                        color: white;
                        padding-left: 30px;
                        padding-right: 25px;
                        padding-top: 13px;
                        padding-bottom: 13px;
                        border-radius: 5px;

                        i {
                            color: #ff612f;
                        }

                    }
                }

            }
        }
    }

    .team-sector {
        padding-bottom: 70px;
        padding-top: 100px;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;

            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
            }
        }
        .single-box:hover{
            .image{
             .social{
                 li{
                    visibility: visible; 
                    transform: translateY(-5px);
                    opacity: 1;

                 }
                    
                }
            }
        }           
        .single-box {
            margin-bottom: 30px;
            text-align: center;
            visibility: visible;
            animation-delay: 0.5s;
            animation-name: fadeInUp;
            transition: all 0.3s;



            .image {
                border: 4px solid #bce9e5;
                padding: 10px;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                transition: .5s;
                border-color: #ffdacf;

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 10px;
                }
                

                .social {
                    padding-left: 0;
                    list-style-type: none;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 15px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 0;


                    li {
                        display: inline-block;
                        transform: translateY(30px);
                        transition: all .3s ease-in-out 0s;
                        opacity: 0;
                        visibility: hidden;
                        margin-left: 1px;
                        margin-right: 1px;

                        a {
                            display: block;
                            width: 33px;
                            height: 33px;
                            background-color: #f4f5fe;
                            text-align: center;
                            position: relative;
                            font-size: 16px;
                            color: #080a3c;
                            border-radius: 2px;
                            transition: .5s;
                            

                            i {
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 20%;
                                
                                
                                
                            }
                        }
                    }
                   
                }
                .social{
                    li:nth-child(1){
                        transition-delay: .1s;
                    }
                    li:nth-child(2){
                        transition-delay: .2s;

                    }
                    li:nth-child(3){
                        transition-delay: .3s;

                    }
                    li:nth-child(4){
                        transition-delay: .4s;

                    }
                }
               
            }

            .content {
                margin-top: 20px;


                h3 {
                    margin-bottom: 0;
                    font-size: 20px;
                    font-weight: 550;
                    line-height: 1.2;
                }

                span {}
            }
        }
    }

    .clients-loving {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #f4f5fe;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;

            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
            }
        }

        .clients-logo {
            display: flex;
            flex-wrap: wrap;
            margin-right: -5px;
            margin-left: -5px;
            margin-top: -10px;
            align-items: center !important;

            .single-clients {
                -webkit-box-flex: 0;
                flex: 0 0 20%;
                max-width: 20%;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                transition: all 0.3s;
                overflow: hidden;


                a {
                    text-align: center;
                    display: block;
                    background-color: #fff;
                    padding: 30px 20px;
                    transition: .5s;

                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                        transition: all 0.5s;
                    }
                }
            }

            .single-clients:hover {
                margin-top: -20px;
                box-shadow: 2px 2px 8px 1px #e4dede;

            }

            .single-clients:hover img {
                transform: scale(1.2);
            }
        }
    }

    .dropdown-section {
        padding-top: 100px;
        padding-bottom: 100px;

        .accardion-menu {
            h2 {
                margin-bottom: 40px;
                font-size: 40px;
                font-weight: 600;

                span {
                    color: #ff612f;


                }
            }

            .accordion:after {
                content: '\02795';
                /* Unicode character for "plus" sign (+) */
                font-size: 8px;
                color: #777;
                float: right;
                margin-left: 5px;
            }

            .accordion {

                background: #f5f5ff;
                color: #080a3c;
                cursor: pointer;
                padding: 14px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 16px;
                margin-bottom: 10px;
                font-weight: 550;
                transition: 0.4s;

            }

            .panel {

                padding: 0 18px;
                display: none;
                background-color: #f5f5ff;
                overflow: hidden;

                p {}
            }
        }

        .image {
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                vertical-align: middle;
            }
        }
    }

    .input-area {
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 70px;
        background-color: #ff612f;

        h2 {
            color: #fff;
            max-width: 610px;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: 40px;
            font-weight: 550;
        }

        .subscribe {
            max-width: 600px;
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            .input-email {
                display: block;
                width: 100%;
                border: none;
                height: 50px;
                border-radius: 5px;
                color: white !important;
                background-color: #c32f00;
                padding: 0 0 0 15px;
                font-size: 14px;
                font-weight: 500;
                outline: 0;

            }
            .btn-submit:hover{
                background-color: #20c997;
            }
            .btn-submit:hover i{
                color: #080a3c;
            }

            .btn-submit {
                background-color: #080a3c;
                color: #fff;
                transition: .5s;
                border: none;
                border-radius: 5px;
                height: 50px;
                padding: 0;
                line-height: 50px;
                display: block;
                width: 100%;
                font-size: 15px;
                font-weight: 500;

                i {
                    margin-right: 2px;
                    color: #ff612f;
                    font-size: 20px;
                    -webkit-transition: .5s;
                    transition: .5s;
                    position: relative;
                    top: 4px;
                }
            }
        }

        .figure13 {
            position: absolute;
            left: 5%;
            top: 0;
            z-index: -1;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .figure14 {
            position: absolute;
            right: 2%;
            top: 4%;
            z-index: -1;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .figure15 {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: -1;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .figure16 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;

            img {
                max-width: 100%;
                height: auto;

            }
        }

        .figure17 {
            position: absolute;
            z-index: -1;
            right: 20%;
            top: 32%;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .blog {
        padding-top: 100px;
        padding-bottom: 100px;

        .section-title {
            text-align: center;
            max-width: 575px;
            text-transform: capitalize;
            margin-left: auto;
            margin-bottom: 60px;
            margin-right: auto;

            h2 {
                margin-bottom: 0;
                font-size: 40px;
                font-weight: 600;
            }
        }

        .single-blog:hover img {
            transform: scale(1.2);

        }

        .single-blog {
            border-radius: 2px;
            margin-bottom: 30px;
            background-color: #fff;
            transition: .5s;

            .box-image {
                overflow: hidden;
                position: relative;

                a {
                    display: block;

                    img {
                        max-width: 100%;
                        height: auto;
                        transition: .5s;
                    }
                }

                .date {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: #fff;
                    border-radius: 0 5px 0 0;
                    padding: 10px 25px 0;
                    z-index: 1;
                    color: #080a3c;
                    font-size: 15px;
                    font-weight: 300;

                    i {
                        color: #ff612f;
                        margin-right: 1px;
                        font-size: 16px;
                        position: relative;
                        top: 1px;
                    }
                }
            }

            .image-content {
                padding: 25px;

                h3 {
                    line-height: 1.4;
                    font-size: 22px;
                    font-weight: 500;

                    a {
                        cursor: pointer;
                        color: #080a3c;
                        text-decoration: none;
                        outline: 0 !important;
                        transition: .5s;
                    }
                    a:hover{
                        color: #20c997;
                    }
                }

                .info {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 15px;
                    align-items: center !important;

                    .post-by {
                        -webkit-box-flex: 0;
                        flex: 0 0 50%;
                        position: relative;
                        max-width: 50%;
                        padding-left: 52px;

                        img {
                            width: 43px;
                            height: 43px;
                            border-radius: 50%;
                            border: 1px solid #dde4ff;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        h6 {
                            margin-bottom: 0;
                            color: #8891b5;
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }

                    .btn-right {
                        flex: 0 0 50%;
                        text-align: right;
                        max-width: 50%;

                        a {
                            display: inline-block;
                            width: 43px;
                            height: 43px;
                            position: relative;
                            border-radius: 50%;
                            background-color: #ebefff;
                            color: #080a3c;
                            text-align: center;
                            font-size: 18px;
                            transition: all 0.3s;

                            i {
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                        a:hover{
                           background-color: #080a3c; 
                           color: white;
                        }
                    }
                }
            }
        }

        .notes {
            margin-top: 10px;
            text-align: center;

            p {
                color: #4a6f8a;
                font-size: 15px;

                a {
                    display: inline-block;
                    color: #ff612f;
                    text-decoration: none;
                    transition: .5s;

                }
                a:hover{
                    color: #20c997;
                }
            }
        }
    }

}

.footer-section {
    background-color: #080a3c;
    position: relative;
    z-index: 1;
    padding-top: 80px;

    .single-column {
        margin-bottom: 30px;

        .logo {
            margin-bottom: 15px;

            a {
                transition: .5s;
                text-decoration: none;
                outline: 0 !important;
                display: inline-block;
                color: white;

                img {
                    max-width: 100%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }

        p {
            color: #acc5db;
            line-height: 1.8;
            font-size: 15px;
        }

        h3 {
            color: #fff;
            margin-bottom: 29px;
            font-weight: 500;
            font-size: 22px;
        }

        .services-list {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                color: #acc5db;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    display: inline-block;
                    color: #acc5db;
                    transition: .5s;
                }

                a:hover {
                    color: #20c997;
                    padding-left: 5px;
                }
            }
        }

        .contact-info {
            list-style-type: none;
            padding-left: 0;

            li {
                color: #fff;
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    display: inline-block;
                    color: #acc5db;
                    transition: .5s;
                }

                a:hover {
                    color: #20c997;
                }
            }
        }

        .social {
            padding-left: 0;
            list-style-type: none;
            margin-bottom: 0;
            margin-top: 20px;

            li {
                display: inline-block;
                margin-right: 5px;

                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    line-height: 33px;
                    background-color: #4e6e8a;
                    text-align: center;
                    font-size: 15px;
                    border-radius: 2px;
                    transition: all 0.3s;

                    i {
                        color: black;
                    }
                }

                a:hover {
                    background-color: white;
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid rgb(83, 81, 81);
        text-align: center;
        margin-top: 50px;
        padding-top: 25px;
        padding-bottom: 25px;

        p {
            line-height: initial;
            color: #acc5db;

            a {
                text-decoration: none;
                display: inline-block;
                color: #ff612f;
                transition: all 0.3s;
            }
            a:hover{
                color: #20c997;
            }
        }
    }


}

.footer-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-animation: imageChange 1s linear 1s infinite;
    animation: imageChange 1s linear 1s infinite;
    background-image: url(../img/home/footer-shape1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}