@import "home";
@import "about";

body{
 font-family: "Poppins",sans-serif;
 font-weight: 400;
 line-height: 1.5;
 color: #080a3c;
}
#scrolltop:hover{
    bottom: 30px;
    background: #ff612f;
    
}
#scrolltop:hover .top-button{
    color: white;
    bottom: 40px;
}

#scrolltop{
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.5s ease-in;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    cursor: pointer;
    z-index: 4;
    box-shadow: 0px 3px 10px rgb(0, 0, 0 / 0,10%);
    transition: all 0.3s linear;
    .top-button{

   
        position: fixed;
        bottom: 30px;
        right: 35px;
        text-align: center;
        color:black;
        transition: all 0.3s linear;
    }
}
